@model IEnumerable<StockManagement.Models.RigaOrdineFornitore>

@{
    ViewData["Title"] = "Elenco ordini fornitore";
}

<!-- Title -->
    <h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Nuovo ordine</a>
</p>
<hr />
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark small">
                    <tr>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <th scope="col">
                            </th>
                        }
                        <th scope="col">
                        </th>
                        <th scope="col">
                        </th>
                        <th scope="col">
                            Fornitore
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.IdNavigation.Codice)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.IdNavigation.Descrizione)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.IdNavigation.Colore)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxs)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xs)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.S)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.M)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.L)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TagliaUnica)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.IdNavigation.PrezzoAcquisto)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.IdNavigation.PrezzoVendita)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Elimina"><i class="fas fa-trash-alt text-danger"></i></a>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Modifica"><i class="far fa-edit"></i></a>
                            </td>
                        }
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" title="Modifica"><i class="far fa-edit"></i></a>
                        </td>
                        <td>
                            <a asp-action="CreateAnnullamento" asp-route-id="@item.Id" title="Annulla taglie"><i class="fas fa-list-alt"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdFornitoreNavigation.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdNavigation.Codice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdNavigation.Descrizione)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdNavigation.Colore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.S)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.M)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.L)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxxl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagliaUnica)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdNavigation.PrezzoAcquisto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdNavigation.PrezzoVendita)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

