@model IEnumerable<StockManagement.Models.ViewModels.ViewRigaOrdineClienteCommessoViewModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Dettagli ordine";
}

<!-- Title -->
<div class="row">
    <div class="col-sm-4">
        <a asp-controller="OrdineClienteCommesso" asp-action="Index" class="btn rounded-pill btn-outline-secondary float-left mt-3"><i class="fas fa-arrow-left"></i>&nbsp;Indietro</a>
    </div>
    <div class="col-sm-4">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>
<partial name="_OrdineClienteRiepilogoBrevePartial" model="ViewBag.RiepilogoOrdine" />
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead class="thead-dark small">
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Fornitore)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Codice)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Descrizione)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Colore)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxs)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xs)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.S)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.M)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.L)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxxxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TagliaUnica)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TotalePezzi)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.PrezzoArticolo)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TotaleRiga)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fornitore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descrizione)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.S)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.M)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.L)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxxl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxxxl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagliaUnica)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalePezzi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrezzoArticolo) €
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotaleRiga) €
                        </td>
                    </tr>
                    }
                    <tr class="bg-warning">
                        <td colspan="15"></td>
                        <td class="text-center">
                            <strong>@ViewBag.TotalePrezzoOrdine €</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a asp-action="EditOrderRows" asp-controller="OrdineClienteCommesso" asp-route-idOrdine="@Context.Session.GetString("IdOrdine")" onclick='return confirm("Sei sicuro?");' title="Modifica"><i class="fas fa-edit"></i> Modifica righe ordine</a>
        </div>
    </div>
</div>