@model IEnumerable<StockManagement.Models.ViewModels.ViewRigaOrdineClienteCommessoViewModel>

@{
    ViewData["Title"] = "Dettagli ordine";
}

<!-- Title -->
<div class="row">
    <div class="col-sm-4">
        <a asp-controller="OrdineClienteCommesso" asp-action="Index" class="btn rounded-pill btn-outline-secondary float-left mt-3"><i class="fas fa-arrow-left"></i>&nbsp;Indietro</a>
    </div>
    <div class="col-sm-4">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark small">
                    <tr>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <th scope="col">
                            </th>
                        }
                        <th scope="col">
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Codice)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Descrizione)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Colore)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxs)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xs)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.S)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.M)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.L)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TagliaUnica)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <td>
                                    <a asp-action="Delete" asp-controller="OrdineClienteCommesso" asp-route-id="@item.IdRigaOrdine" title="Elimina"><i class="fas fa-trash-alt text-danger"></i></a>
                                </td>
                            }
                            <td>
                                <a asp-action="EditRow" asp-controller="OrdineCliente"  asp-route-id="@item.IdRigaOrdine" title="Visualizza dettaglio"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descrizione)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Colore)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Xxs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Xs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.S)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.M)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.L)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Xl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Xxl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Xxxl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TagliaUnica)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>