@model IEnumerable<StockManagement.Models.ViewModels.ViewOrdineClienteCommessoViewModel>

@{
    ViewData["Title"] = "Lista ordini cliente";
}

<!-- Title -->
<div class="row">
    <div class="col-sm-4">
        <a asp-action="Index" class="btn rounded-pill btn-outline-secondary float-left mt-3"><i class="fas fa-arrow-left"></i>&nbsp;Torna alla lista</a>
    </div>
    <div class="col-sm-7 offset-1">
        <h1 class="float-left">@ViewData["Title"]</h1>
    </div>
</div>

<p>
    <a asp-action="Create">Inserisci nuovo</a>
</p>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataConsegna)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoPagamento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pagato)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Spedito)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SpeditoInParte)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Letto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stampato)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td width="10%">
                            @Html.DisplayFor(modelItem => item.Cliente)
                        </td>
                        <td width="10%">
                            @Html.DisplayFor(modelItem => item.DataConsegna)
                        </td>
                        <td width="20%">
                            @Html.DisplayFor(modelItem => item.TipoPagamento)
                        </td>
                        <td width="10%">
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.Pagato)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.Spedito)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.SpeditoInParte)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.Letto)
                        </td>
                        <td width="5%">
                            @Html.DisplayFor(modelItem => item.Stampato)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Visualizza</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
