@model IEnumerable<loft1Mvc.Models.Articolo>

@{
	ViewData["Title"] = "Lista articoli annullati";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Inserimento articolo</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Codice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Colore)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Codice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Colore)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Dettagli</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Elimina</a>
				</td>
			</tr>
		}
	</tbody>
</table>

