@model StockManagement.Models.OrdineCliente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutTablet.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrdineCliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRappresentante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRappresentante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsegna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsegna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInserimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInserimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteInserimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtenteInserimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtenteModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPagamentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPagamentoNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
