@model IEnumerable<StockManagement.Models.ViewModels.ViewOrdineClienteViewModel>

@{
            ViewData["Title"] = "Ordini inseriti";
        }
<!-- Title -->
<div class="row">
    <div class="col-sm-4">
        <a asp-controller="Home" asp-action="Index" class="btn rounded-pill btn-outline-secondary float-left mt-3"><i class="fas fa-arrow-left"></i>&nbsp;Indietro</a>
    </div>
    <div class="col-sm-4">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.NomeCliente)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.IndirizzoCliente)
                        </th>
                        @*<th scope="col">
                            @Html.DisplayNameFor(model => model.EmailCliente)
                        </th>*@
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.DataConsegna)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Completato)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Pagato)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IndirizzoCliente)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.EmailCliente)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.DataConsegna)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Completato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pagato)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>