@model IEnumerable<StockManagement.Models.Fornitore>

@{
    ViewData["Title"] = "Inserimento fornitore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary rounded-pill">Inserisci un nuovo fornitore</a>
</p>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark small">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id" title="Elimina" class="mr-3"><i class="fas fa-trash-alt text-danger"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" title="Visualizza dettaglio"><i class="fas fa-list-alt"></i></a>
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
