@model StockManagement.Models.PackingList

@{
    ViewData["Title"] = "Inserimento packing list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title -->
<div class="row">
    <div class="col-sm-4">
        <a asp-action="Index" class="btn rounded-pill btn-outline-secondary float-left mt-3"><i class="fas fa-arrow-left"></i>&nbsp;Torna alla lista</a>
    </div>
    <div class="col-sm-4 text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-md-10 mx-auto mb-3">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-3 mb-3">
                            @Html.Label("Codice")
                            @Html.TextBox("Codice", null, new { @class = "form-control", @Id = "txtCodice", @onblur = "return getColoriPerArticolo();" })
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.Label("Colore")
                            @Html.DropDownList("Colore", new List<SelectListItem> {
                               new SelectListItem { Value = "-1" , Text = "Selezionare un colore" }
                            }, new { @class = "form-control", @id = "ddlColore" })
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-1 mb-3">
                            <label asp-for="Xxs" class="control-label"></label>
                            <input asp-for="Xxs" value="0" class="form-control" />
                            <span asp-validation-for="Xxs" class="text-danger"></span>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label asp-for="Xs" class="control-label"></label>
                            <input asp-for="Xs" value="0" class="form-control" />
                            <span asp-validation-for="Xs" class="text-danger"></span>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label asp-for="S" class="control-label"></label>
                            <input asp-for="S" value="0" class="form-control" />
                            <span asp-validation-for="S" class="text-danger"></span>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label asp-for="M" class="control-label"></label>
                            <input asp-for="M" value="0" class="form-control" />
                            <span asp-validation-for="M" class="text-danger"></span>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label asp-for="L" class="control-label"></label>
                            <input asp-for="L" value="0" class="form-control" />
                            <span asp-validation-for="L" class="text-danger"></span>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label asp-for="Xl" class="control-label"></label>
                            <input asp-for="Xl" value="0" class="form-control" />
                            <span asp-validation-for="Xl" class="text-danger"></span>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label asp-for="Xxl" class="control-label"></label>
                            <input asp-for="Xxl" value="0" class="form-control" />
                            <span asp-validation-for="Xxl" class="text-danger"></span>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label asp-for="Xxxl" class="control-label"></label>
                            <input asp-for="Xxxl" value="0" class="form-control" />
                            <span asp-validation-for="Xxxl" class="text-danger"></span>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label asp-for="TagliaUnica" class="control-label"></label>
                            <input asp-for="TagliaUnica" value="0" class="form-control" />
                            <span asp-validation-for="TagliaUnica" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Inserisci" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

@section Scripts {

    <script type="text/javascript">
        function getColoriPerArticolo() {
            let codice = $('#txtCodice').val();
            $.ajax({
                type: "POST",
                url: "/Articolo/SelectColoriFromCodice",
                data: { codice: codice },
                success: function (data) {
                    console.log(data);
                    if (data) {
                        $('#ddlColore').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlColore').append(new Option(data[i].colore, data[i].colore));
                        }
                    }
                },
                error: function () {
                    console.log("Errore");
                }
            })
        };

    </script>
}

