@model StockManagement.Models.PackingList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PackingList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornitore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornitore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Variante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Variante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xxxs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xxxs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xxs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xxs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.S)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.S)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.M)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.M)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xxl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xxl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xxxl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xxxl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xxxxl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xxxxl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.attr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.attr2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
