@model IEnumerable<loft1Mvc.Models.PackingList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornitore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Variante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xxxs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xxs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xxl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xxxl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xxxxl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.attr1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.attr2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornitore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xxxs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xxs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.M)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xxl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xxxl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xxxxl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.attr1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.attr2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
