@model StockManagement.Models.Articolo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Articolo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xxs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xxs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.S)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.S)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.M)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.M)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xxl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xxl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagliaUnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagliaUnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrancheConsegna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrancheConsegna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annullato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annullato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrezzoAcquisto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrezzoAcquisto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrezzoVendita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrezzoVendita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Video)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInserimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInserimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteInserimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtenteInserimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtenteModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xxxl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xxxl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCollezioneNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCollezioneNavigation.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFornitoreNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFornitoreNavigation.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
