@model IEnumerable<StockManagement.Models.Articolo>

@{
    ViewData["Title"] = "Lista articoli annullati";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title -->
<div class="row">
    <div class="col-sm-4">
        <a asp-action="Index" class="btn rounded-pill btn-outline-secondary float-left mt-3"><i class="fas fa-arrow-left"></i>&nbsp;Torna alla lista</a>
    </div>
    <div class="col-sm-4 text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-sm-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark small">
                    <tr>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <th scope="col"></th>
                        }
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.IdFornitoreNavigation)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Codice)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Descrizione)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Colore)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxs)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xs)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.S)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.M)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.L)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TagliaUnica)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TrancheConsegna)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Genere)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.PrezzoAcquisto)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.PrezzoVendita)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.IdCollezioneNavigation)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id" title="Elimina" class="mr-3"><i class="fas fa-trash-alt text-danger"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" title="Visualizza dettaglio"><i class="fas fa-list-alt"></i></a>
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.IdFornitoreNavigation.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descrizione)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Colore)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Xxs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Xs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.S)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.M)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.L)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Xl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Xxl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Xxxl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TagliaUnica)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrancheConsegna)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Genere)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrezzoAcquisto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrezzoVendita)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCollezioneNavigation.Nome)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
