@model IEnumerable<StockManagement.Models.ArticoloViewModel>

@{
	ViewData["Title"] = "Articoli validi";
}

<h1>@ViewData["Title"]</h1>

<p>
	<a asp-action="Create">Nuovo articolo</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Fornitore)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Codice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Descrizione)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Colore)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TipoProdotto)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Genere)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TrancheConsegna)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PrezzoAcquisto)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PrezzoVendita)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Fornitore)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Codice)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Descrizione)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Colore)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TipoProdotto)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Genere)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TrancheConsegna)
			</td>
			<td>
				€@Html.DisplayFor(modelItem => item.PrezzoAcquisto)
			</td>
			<td>
				€@Html.DisplayFor(modelItem => item.PrezzoVendita)
			</td>
		</tr>
		}
	</tbody>
</table>
