@model IEnumerable<StockManagement.Models.Articolo>

@{
    ViewData["Title"] = "Elenco articoli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary rounded-pill">Inserisci un nuovo articolo</a>
</p>
<div class="row">
    <div class="col-sm-12">
        <a asp-action="Index" asp-route-orderBy="Data" class="btn btn-primary float-left mr-2">Per Data inserimento</a>
        <a asp-action="Index" asp-route-orderBy="Codice" class="btn btn-primary float-left mr-2">Per Codice</a>
        <a asp-action="Index" asp-route-orderBy="Fornitore" class="btn btn-primary float-left mr-2">Per Fornitore</a>
        <a asp-action="Listino" class="btn btn-primary float-left mr-2">Stampa Listino</a>
        <a asp-action="DifferenzaOrdinatoVenduto" class="btn btn-primary float-left mr-2">Differenza ordinato/venduto</a>
        <a asp-action="Export" class="btn btn-primary float-left mr-2">Esporta Differenza ordinato/venduto COMPLETO</a>
        <a asp-action="ExportZeroMenoCompletato" class="btn btn-primary float-left mr-2">Esporta Differenza ordinato/venduto ZERO MENO</a>
        <a asp-action="ExportOrdinatiPerClienti" class="btn btn-primary float-left">Esporta ordinati per Cliente</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark small">
                    <tr>
                        <th scope="col">
                        </th>
                        <th scope="col">
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.IdFornitoreNavigation)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Codice)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Descrizione)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Colore)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxs)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xs)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.S)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.M)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.L)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxxl)
                        </th> 
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Xxxxl)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TagliaUnica)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TrancheConsegna)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.PrezzoAcquisto)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.PrezzoVendita)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" title="Modifica"><i class="far fa-edit"></i></a>
                        </td>
                        <td>
                            <a asp-action="CreateAnnullamento" asp-route-id="@item.Id" title="Annulla taglie"><i class="fas fa-list-alt"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdFornitoreNavigation.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descrizione)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.S)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.M)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.L)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxxl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Xxxxl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagliaUnica)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrancheConsegna)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrezzoAcquisto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrezzoVendita)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

